* {
  box-sizing: border-box;
  margin: 0;
  padding: 8px;
  font-family: "Lato", sans-serif;
}
@media only screen and (max-width: 390px) {
  * {
    overflow-wrap: break-word;
    width: 300px;
    margin: 0;
  }
}

body {
  /* background: rgb(247, 247, 247); */
  background: rgb(247, 246, 246);
  height: 80vh;
  width: 100vw;
}

nav {
  margin: 5px;
  font-size: 20px;
  padding: 10px;
}

h3 {
  font-size: 40px;
  text-align: center;
}

h4 {
  font-size: 20px;
  text-align: center;
}
.quote {
  font-size: 23px;
  font-style: italic;
  text-align: center;
}
.homepagePic {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 600px;
}

@media only screen and (max-width: 780px) {
  .homepagePic {
    width: 600px;
    height: 500px;
  }
}

@media only screen and (max-width: 390px) {
  .homepagePic {
    width: 300px;
    height: 200px;
  }
}

.welcomePageImage {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1300px;
  height: 500px;
}

@media only screen and (max-width: 780px) {
  .welcomePageImage {
    margin-left: -30px;
    width: 730px;
    height: 300px;
  }
}

@media only screen and (max-width: 390px) {
  .welcomePageImage {
    margin-left: -30px;
    width: 350px;
    height: 200px;
  }
}

.makeAccount {
  font-size: 20px;
  text-align: center;
}
form {
  text-align: center;
  font-size: 20px;
  margin: 30px;
}

@media only screen and (max-width: 390px) {
  .loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -5px;
  }
}

.login {
  font-size: 20px;
  text-align: center;
}

.welcomeStudentPic {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
}

.navbar {
  background-color: #f499a8;
  /* background-color: #5deac6;  */
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

@media only screen and (max-width: 390px) {
  .navbar {
    width: 400px;
    margin: -20px 0 0 -40px;
  }
}

.logout {
  margin-right: 16px;
  font-size: 1rem;
  color: #360c42;
  /* color: #eeebef; */
  font-weight: bold;
  padding: 0.8rem;
  border-radius: 15px;
  border-width: 0.3rem;
}

@media only screen and (max-width: 390px) {
  .logout {
    margin: 5px 10px 50px 0;
    width: 90px;
    height: 20px;
    padding: 10px 0 25px 0;
  }
}

.menu-bars {
  margin-left: 2rem;
  font-size: 3rem;
  background: none;
}

@media only screen and (max-width: 390px) {
  .menu-bars {
    margin: 0 0 0 -120px;
    background: none;
  }
}

.nav-menu {
  background-color: #f499a8;
  /* background-color: #5deac6; */
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

@media only screen and (max-width: 390px) {
  .nav-menu {
    margin: 0 0 0 -10px;
    height: 1000px;
  }
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  /* color: #fff0f0; */
  color: #ffffff;
  font-size: 15px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

@media only screen and (max-width: 390px) {
  .nav-text a {
    font-size: 20px;
  }
}

@media only screen and (max-width: 780px) {
  .nav-text a {
    font-size: 20px;
  }
}

.nav-text a:hover {
  background-color: #ff738a;
  /* background-color: #5deac6; */
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #f499a8;
  /* background-color: #5deac6; */
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

#new-message-form {
  position: relative;
}

@media only screen and (max-width: 390px) {
  #new-message-form {
    margin-left: -30px;
  }
}

#new-message-form .form-control {
  border-width: 3px 1.5px 3px 3px;
}

#new-message-form.btn {
  border-width: 3px;
}

.chatboxMessage {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  margin-top: 5rem;
  margin-left: 18rem;
  margin-right: 18rem;
  border-radius: 15px;
  border: 10px solid #f499a8;
}

.messageToClickChatBot {
  font-size: 30px;
  text-align: center;
  /* padding: 30px; */
}

.subjects {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* align-items: flex-start; */
}

.link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.subjects img {
  width: 18rem;
  height: 18rem;
  background-color: #f499a8;
  color: #f499a8;
  border-radius: 50%;
}

@media only screen and (max-width: 390px) {
  .profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-wrap: break-word;
  }
}

.profile img {
  display: block;
  margin: 0 auto 20px auto;
  width: 180px;
  height: 180px;
  background-color: #f499a8;
  color: #f499a8;
  border-radius: 50%;
}

.description {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 500px;
  font-size: 20px;
  border-top: 5px solid rgb(122, 122, 122);
  border-bottom: 5px solid rgb(122, 122, 122);
}
@media only screen and (max-width: 390px) {
  .description {
    overflow-wrap: break-word;
    width: 300px;
    margin: 0.3em;
  }
}

/* @media only screen and (max-width: 390px) {
  .input-group input-group-lg {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
} */

.homeworkImages {
  width: 100%;
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
}

@media only screen and (max-width: 390px) {
  .homeworkUploader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -5px;
  }
}

.contactGmail {
  text-align: center;
  border-bottom: 5px solid #f499a8;
  font-style: italic;
}

@media only screen and (max-width: 780px) {
  .helpPageImage {
    width: 700px;
    height: 400px;
  }
}

@media only screen and (max-width: 390px) {
  .helpPageImage {
    width: 350px;
    height: 200px;
    margin-left: -25px;
  }
}

.mathPuns img {
  margin: 20px;
  width: 22rem;
  height: 22rem;
  background-color: #f499a8;
  color: #f499a8;
}

@media only screen and (max-width: 390px) {
  .mathPuns img {
    margin: 10px 5px 10px -20px;
  }
}
