* {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  font-family: "Lato", sans-serif;
}

body {
  background: rgb(247, 247, 247);
  height: 100vh;
  width: 100vw;
}

nav {
  margin: 5px;
  font-size: 20px;
  padding: 10px;
}
h3 {
  font-size: 50px;
  text-align: center;
}
.quote {
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

.makeAccount {
  font-size: 20px;
  text-align: center;
}
form {
  text-align: center;
}
.login {
  font-size: 20px;
  text-align: center;
}

.navbar {
  background-color: rgb(255, 152, 159);
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #f499a8;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #fff0f0;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #ff738a;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #f499a8;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

#new-message-form {
  position: relative;
}

#new-message-form .form-control {
  border-width: 3px 1.5px 3px 3px;
}

#new-message-form.btn {
  border-width: 3px;
}
